html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
header {
  width: 100%;
  background: url(./images/etoile.svg) top left no-repeat,url(./images/accueil-vert.svg) top left no-repeat;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #20252c;
}

.titre-header {
  display: flex;
  width: 100%;
  max-width: 1000px;
  padding-left: 100px;
}

.mot-eme {
  margin-bottom: 150px;
}
h1 {
  max-width: 1000px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  color: #20252c;
  font-size: 7em;
  z-index: 2;
  text-align: center;
  margin-top: 200px;
  margin-left: -100px;
  line-height: 100px;
}

.planete {
  width: 100%;
  max-width: 1000px;
  display: block;
  padding-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  animation: rotation_terre 160s linear infinite;
}

@keyframes rotation_terre {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rocket {
  position: absolute;
  top: 70%;
  left: 30%;
  z-index: 2;
}

.bulle {
  font-size: 2em;
  font-weight: 600;
  border-radius: 28px;
  background: white;
  color: #20252c;
  padding: 50px;
  text-align: center;
  max-width: 400px;
  width: fit-content;
  border: solid #20252c 3px;
}

.bulle1 {
  position: absolute;
  top: 800px;
  left: -800px;
}

.bulle2 {
  position: absolute;
  top: 1000px;
  right: -800px;
}

.bulle3 {
  position: absolute;
  top: 1200px;
  left: -900px;
}

.bulle4 {
  position: absolute;
  top: 1400px;
  right: -990px;
}

.histoire {
  background-color: white;
  margin-bottom: 150px;
}

.fin-header,
.herbe {
  margin: 0;
  width: 100%;
  height: fit-content;
}
.contain-histoire {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.text {
  width: 800px;
  margin: auto;
  justify-content: center;
}
.text-histoire {
  margin-top: 25px;
  margin-left: 100px;
  font-size: 1.2rem;
}

.dino {
  width: fit-content;
  margin-right: 100px;
}
h2 {
  font-size: 6.25rem;
  margin-left: 100px;
  margin-bottom: 0px;
}
.graphique {
  background-color: #92e3a9;
}
.herbe {
  margin-top: -500px;
}

.graphique_main {
  display: flex;
  margin-top: 25px;
}

fieldset {
  margin-top: 30px;
  border: none;
  font-size: 1.2rem;
}

#text_stade {
  width: 35vw;
  margin: 0 20px;
  font-size: 1.2rem;
}
svg {
  margin-left: 5%;

  width: 200vw;
}
.text_nb_espece {
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
  font-size: 3rem;
}

#camambert {
  width: 100vw;

}

.text_savoirplus {
  padding-bottom: 50px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.text_savoirplus a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 0.2s;
}
.text_savoirplus a:hover {
  color: #20252c;
}
/*  https://www.accede-web.com/notices/interface-riche/boutons-radio-personnalises-en-css/ : Changer les radios */
.info-stade{
  margin: auto;
}
.eteint{
  padding-top: 30px;
  display: flex;
  margin: auto;
}